<h1>Help</h1>
<p>
  Get help on VM Next alfa at the
  <a href="http://www.i-faber.com">i-Faber VM Next help page</a>.
  To get help on this app, see the
  <a href="http://www.i-faber.com">VM Next Tutorial book</a>.
</p>
