<h1>VM Next <i>alfa</i></h1>

<p>
  This is the home page for the
  <a href="http://www.i-faber.com">i-Faber</a>
  VM Next <i>alfa</i>.
</p>
  <% if signed_in? %>
      <p><%= link_to "Your setup", signup_path, :class => "signup_button round" %></p>
      <p><%= link_to "Inquiry your supplier base", signup_path, :class => "signup_button round" %></p>
      <%= link_to "Do something with suppliers", signup_path, :class => "signup_button round" %>
  <% else %>
    <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
  <% end %>

