<h1>VM Next <i>alfa</i></h1>

<p>
  This is the home page for the
  <a href="http://www.i-faber.com">i-Faber</a>
  VM Next <i>alfa</i>.
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
