
  <div id="cpyfollow_form">
  <% if Company.find_by_id(current_user.company_id).cpyfollowing?(@company) %>
    <%= render 'cpyunfollow' %>
  <% else %>
    <%= render 'cpyfollow' %>
  <% end %>
  </div>
